<div>
  <img alt ="Profile Image" {{bind-attr src=model.profileImage}} class="img-box" ><br><br>
  NAME: {{model.name}}<br><br>
  AGE: {{model.age}}<br><br>
  Github Url: <a target="" href="{{unbound model.githubURL}}">{{model.githubURL}}</a><br><br>
  Phone No: {{model.phoneNo}}<br><br>
</div>